*{
    box-sizing: border-box;
}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;

    /* fill the img container while maintaining aspect ratio, resulting in cropping to fit. */
    object-fit: cover;

    border-radius: 10px;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*  how the items inside a flex container are positioned along the main axis */
    justify-content: center; 

    /* positions the flex content along the cross axis. */
    align-items: center;

    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;

    /* sets the gaps, also known as gutters, between rows and columns. */
    /* sub-properties: row-gap and column-gap */
    gap: 16px;
}

/* The ::after pseudo-element creates an element that is the last child of the selected element.*/
/* We can use it to add an empty element after the last image.  */
.gallery::after{
    content: "";
    width: 350px;
}